<!-- forgot password start -->
<div style="display:none;" id="forgot_password_form" class="middleblock">
 <div class="form-block">
     <a href="#" class="popcloselg popopen"><i class="fa fa-close"></i></a>
      <div class="form-head">Password Reset</div>
      <form  action="/forgotpassword/" method="post" id="form-forgotpassword">
         {% csrf_token %}
         <div class="form-row">
             <input type="email" name="email" class="email-forgot-password" autocomplete="off" placeholder="Email">
             <i class="fa fa-envelope"></i>
         </div>
         <div class="form-row">
             <!-- <input type="submit" class="btn-primary full-width" value="RESET PASSWORD"> -->
             <button type="submit" class="btn-primary full-width btn-large">
             RESET PASSWORD <i class="fa fa-arrow-right"></i>
             </button>
         </div>
         <div class="form-row full-width uk-float-left uk-margin-top">
             <a href="#login" class="popopen loginbtn login_part">Sign in</a>
         </div>
      </form>
  </div>
</div>
<!-- forgot password end -->
